* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 233px;
    background-image: url(balls.webp);
    background-repeat: no-repeat;
    background-position: top top;
    background-size: cover;
    color: #fff;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;  
}

.nav ul {
    margin-bottom: 75px;
    background-color:#000;
}

li {
    display: inline-block;
}

.header {
    text-align: center;
}

.section {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 60px;
    background-attachment: fixed;
}

.football {
    background-image: url("./football.png");
    height: 60px;
    background-color: #7fff00;
}

.basketball {
    background-image: url("./basketball.png");
    height: 60px;
    background-color: #a1d3ed;

}

.tennis {
    background-image: url("./tennis.png");
    height: 60px;
    background-color: #124508;
    color:#fff;
}

.bestsportshop {
    background-image: url("./medal.png");
    height: 80px;
    background-color: #000;
    color:#fff;
}

h2 {
    text-align: right;
}

.title {
    font-size: 20px;
	font-weight: 400;
	position: relative;
	top: 50%;
	right: 20px;
	text-align: right;
	transform: translateY(-50%);
}

.main {
    height: 400px;
}






